
input, textarea {
	display: block;
}

textarea {
	resize: none;
}

#name {
	height: 30px;
	width: 400px;
}

#description, #trade-for {
	width: 400px;
	height: 100px;
}

#submit {
	width: 400px;
}

#content {
	margin: 0 auto;
	width: 500px;
}

#newPostHead {
	text-align: center;
}

.comment-entry {
	margin-left: 10px;
}

.new-comment {
	margin-left: 10px;
}

.new-comment-name {
	width: 100px;
}

.new-comment-body {
	width: 300px;
}

.comment-name {
	font-weight: bold;
}

.all-comments > h4 {
	margin-top: 20px;
}
